$font-size-base: 18px;

$font-heading: "Source Serif Pro";
$font-text: "Source Serif Pro";

$max-width: 1280px;
$line-height: 1.5em;

$background: #f9f9f9;
$accent: #3f14ff;

$color-text: #111;
$color-text-light: #d6d6d6;

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;

    font-size: $font-size-base;
    line-height: $line-height;

    color: $color-text;
    background-color: $background;
}

body {
    margin-left: 0px;
    height: 100%;
    max-width: $max-width;
}

h1,
h2 {
  font-family: $font-heading !important;
}

a {
  color: #222;
  color: inherit;
  padding: 0px 2px;
  text-decoration: none;
  border-bottom: $color-text-light 2px solid;
}

a:hover {
  cursor: pointer;
  border-bottom: $accent 2px solid;
}

.l-box {
    padding: 1em;
}

.sidebar {
  text-align: center;
}

.social-icon {
  padding: 2px;
  width: 16px;
}

li {
    padding-bottom: 5px;
}

ul {
    list-style: circle;
}

.logo {
  a {
    border: none
  }
}

/* blog list */

#no-posts-yet {
    font-weight: 600;
    color: $color-text-light;
}

.blog-content {
    font-family: inherit;
}

.blog-list {
  margin-left: 20px;
  list-style: circle;
  padding-left: 20px;
}

.content {
    padding: 1em;
}

/* responsive */

@media (min-width: 1024px) {
    body {
        margin-right: auto;
        margin-left: auto;
    }
    .content {
        padding: 5em 2em 5em 2em;
    }
    .sidebar {
        padding-top: 10%;
        height: fit-content;
        position: sticky;
        top: 0;
    }
}

.thinking-text {
  text-align: center;

  background: linear-gradient(to right, #000, #888, #fff, #888, #000);

  background-size: 200% 100%;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-position-x: 200%;

  animation: gradient-move 6s linear forwards;
  animation-iteration-count: 1;

  opacity: 1;
}

@keyframes gradient-move {
  0%, 66.66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
  0% { background-position-x: 200%; }
  33.33% { background-position-x: 0%; }
  33.34% { background-position-x: 200%; }
  66.66% { background-position-x: 0%; }
  66.67% { background-position-x: 200%; }
  100% { background-position-x: 0%; }
}