body {
  font-family: 'Raleway', sans-serif;
}

h1 {
    text-align:center;
    font-size:47px;
}

.content {
    width: 640px;
    margin: 0 auto;
}

.event {
    margin-top: 20px;
    border-bottom: 1px solid #E0E0E0;
}

.date {
    margin-top:20px;
    text-align:center;
}

.references {
    font-size: 14px;
    display:inline-block;
}

.type {
    display: inline-block;
    margin-left:12px;
    padding: 0px 10px;
    font-size:13px;
    float:right;
    color: rgb(78, 78, 78);
    border-radius: 14px;
    background-color: rgb(236, 236, 236);
    text-transform: uppercase;
}

.tags {
    display: inline-block;
    float: right;
    font-size: 13px;
}
